h1{
  border-bottom: 1px solid black;
  margin: 0px;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}
ol{
  margin: 0px;
  width: 100px;
  padding: 20px;
  font-size: 15px;
}
a {
  text-decoration: none;
}
h2 {
     color: red;
   }
body{
  margin: 0px;
}
.b {
  border-right: 1px black solid;
}
.bb {
  padding-left: 25px;
}
#t01 {
  background-color: gray;
  text-align: center;
  width: 70px;
}
#ryan {
  float: left;
}
.row {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
}
@media(max-width:600px) {
  .grid{
    display: block;
    grid-template-columns: none;
  }
  .b{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
}
